<div id="main_container"  data-databaseId="{{database_id}}">

     <div id="left-slider">
        <img class="left" src="slike/li.png">
     </div>
	 
	 <div id="main_central">
		 <div id="main_content">
			 <div id="la_liga">
			 <h2 class="naslov_2"><strong>{{title}}</strong></h2>
				<p class="tekst">{{opis}}</p>
			</div>
		 </div>	
			
			<div id="tipka" class="edit">
                            Uredi
            </div>
                        
            <div id="tipka" class="edit">
                            Dodaj sliku
            </div>
			
			<div id="main_pic">
				<img id="slider" src="{{img}}" id="slider" />
				<div id = "rating-stars-container">
					<img src="slike/z.png" class="rating-star" alt="Ocjena"  />
					<img src="slike/z.png" class="rating-star" alt="Ocjena"  />
					<img src="slike/z.png" class="rating-star" alt="Ocjena"  />
					<img src="slike/z.png" class="rating-star" alt="Ocjena"  />
					<img src="slike/z.png" class="rating-star" alt="Ocjena"  />
				</div>
			</div>
	</div>
	<div id="right-slider">
                        <img class ="right" src="slike/de.png">
    </div> 
</div> 	
 	
	
	
			
				
			
			
						
						
						